<div class="custom-blog-card-wrapper">
  {%- if show_image == true and article.image -%}
    <img
      src="{{ article.image.src | image_url: width: 300 }}"
      class="blog-card-img"
      alt="{{ article.image.src.alt | escape }}"
    >
  {%- endif -%}
  <div class="blog-card-content">
    {% if article.tags.first != blank %}
      <span class="first-tags">{{ article.tags.first }}</span>
    {% endif %}
    <h3 class="card__heading">
      {{ article.title | truncate: 50 | escape }}
    </h3>
    <div class="link-inner">
      <a href="{{ article.url }}" class="link">
        Read More
        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.34834 1.72692L10.773 1.72692M10.773 1.72692L10.773 9.15154M10.773 1.72692L1.22702 11.2729"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </div>
</div>
