{% comment %} <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
  <div class="swiper-wrapper">
    {%- for media in product.media -%}
      {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
        {%- liquid
          capture media_index
            if media.media_type == 'model'
              increment model_index
            elsif media.media_type == 'video' or media.media_type == 'external_video'
              increment video_index
            elsif media.media_type == 'image'
              increment image_index
            endif
          endcapture
          assign media_index = media_index | plus: 1
        -%}
        <div class="swiper-slide">
          {%- if media.media_type == 'model' -%}
            <span class="thumbnail__badge" aria-hidden="true">
              {%- render 'icon-3d-model' -%}
            </span>
          {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
            <span class="thumbnail__badge" aria-hidden="true">
              {%- render 'icon-play' -%}
            </span>
          {%- endif -%}
          {%- capture thumbnail_id -%}
              Thumbnail-{{ section.id }}-{{ forloop.index }}
            {%- endcapture -%}
          <button
            class="thumbnail global-media-settings global-media-settings--no-shadow"
            aria-label="{%- if media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
            {% if media == product.selected_or_first_available_variant.featured_media
              or product.selected_or_first_available_variant.featured_media == null
              and forloop.index == 1
            %}
              aria-current="true"
            {% endif %}
            aria-controls="GalleryViewer-{{ section.id }}"
            aria-describedby="{{ thumbnail_id }}"
          >
            {{
              media.preview_image
              | image_url: width: 416
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '54, 74, 104, 162, 208, 324, 416',
                id: thumbnail_id,
                alt: media.alt
              | escape
            }}
          </button>
        </div>
      {%- endunless -%}
    {%- endfor -%}
  </div>
</div>
<div thumbsSlider="" class="swiper mySwiper">
  <div class="swiper-wrapper">
    {%- for media in product.media -%}
      {% if media_position >= limit
        or media_position >= 1
        and section.settings.hide_variants
        and variant_images contains media.src
      %}
        {% continue %}
      {% endif %}

      {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
        <div class="swiper-slide">
          {%- liquid
            assign media_position = media_position | default: 0 | plus: 1
            assign lazy_load = false
            if media_position > 1
              assign lazy_load = true
            endif
          -%}
          {% render 'product-thumbnail',
            media: media,
            media_count: media_count,
            position: media_position,
            desktop_layout: section.settings.gallery_layout,
            mobile_layout: section.settings.mobile_thumbnails,
            loop: section.settings.enable_video_looping,
            modal_id: section.id,
            xr_button: true,
            media_width: media_width,
            media_fit: section.settings.media_fit,
            constrain_to_viewport: section.settings.constrain_to_viewport,
            lazy_load: lazy_load
          %}
        </div>
      {%- endunless -%}
    {%- endfor -%}
  </div>
</div>

<style>
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  body {
    background: #000;
    color: #000;
  }

  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<script>
  const section_scripts_{{ section.id | replace: "-", "_" | replace: "--", "_" }} = {
      section: document.querySelector("#shopify-section-{{ section.id }}"),
      init() {
        this.swiperThumbs = new Swiper(this.section.querySelector('.mySwiper'), {
          spaceBetween: 10,
          slidesPerView: 4,
          freeMode: true,
          watchSlidesProgress: true,
        });
        this.swiperMain = new Swiper(this.section.querySelector('.mySwiper2'), {
          spaceBetween: 10,
          thumbs: {
            swiper: this.swiperThumbs,
          },
        });
      }
  }

  document.addEventListener("DOMContentLoaded", () => {
    section_scripts_{{ section.id | replace: "-", "_" | replace: "--", "_" }}.init()
  });
</script> {% endcomment %}




