{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
  {%- assign t = template | split: '.' | first -%}
  <div class="page-width">
    <nav
      class="breadcrumbs"
      role="navigation"
      aria-label="breadcrumbs"
    >
      <ol class="breadcrumbs__list list-unstyled">
        {% if t == 'product' %}
          <li class="breadcrumbs__item breadcrumbs__item-product-search">
            <a
              class="breadcrumbs__link"
              href="/search"
              aria-current="page"
            >
              {{- 'general.custom.back_to_search_results' | t -}}
            </a>
          </li>
        {% endif %}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="/">Home</a>
        </li>
        {%- case t -%}
            {% comment %}
              {%- when 'page' -%}
              <li class="breadcrumbs__item">
                <a
                  class="breadcrumbs__link"
                  href="{{ page.url }}"
                  aria-current="page">{{ page.title }}</a>
              </li>
            {% endcomment %}
            {% comment %}
              {%- when 'product' -%}
              {%- if collection.url -%}
                <li class="breadcrumbs__item">
                  {{ collection.title | link_to: collection.url }}

                </li>
              {%- endif -%}
              {% if product.metafields.custom.main_collection %}
                {% assign mainCollectionMetafield = product.metafields.custom.main_collection.value %}
                {% assign collectionParent = collections[mainCollectionMetafield.handle].metafields.custom.collection_parent %}

                {% if collectionParent %}
                  <li class="breadcrumbs__item breadcrumbs__item">
                    <a
                      class="breadcrumbs__link"
                      href="{{ collectionParent.url | metafield_tag }}"
                      aria-current="page">{{ collectionParent | metafield_tag }}</a>

                  </li>
                {% endif %}

                <li class="breadcrumbs__item breadcrumbs__item">
                  <a
                    class="breadcrumbs__link"
                    href="{{ product.metafields.custom.main_collection.url | metafield_tag }}"
                    aria-current="page">{{ product.metafields.custom.main_collection | metafield_tag }}</a>

                </li>
              {% endif %}
              <li class="breadcrumbs__item breadcrumbs__item-product">
                <a
                  class="breadcrumbs__link"
                  href="{{ product.url }}"
                  aria-current="page">{{ product.title }}</a>
              </li>
            {% endcomment %}
            {% comment %}
              {%- when 'collection' and collection.handle -%}
              {%- if current_tags -%}
                <li class="breadcrumbs__item">
                  {{ collection.title | link_to: collection.url }}
                </li>
                <li class="breadcrumbs__item">
                  {%- capture tag_url -%}
                    {{ collection.url }}/{{ current_tags | join: "+" }}{%- endcapture -%}
                  <a
                    class="breadcrumbs__link"
                    href="{{ tag_url }}"
                    aria-current="page">{{ current_tags | join: " + " }}</a>
                </li>
              {%- else -%}
                {% if collection.metafields.custom.collection_parent %}
                  <li class="breadcrumbs__item">
                    {{ collection.metafields.custom.collection_parent | metafield_tag }}

                  </li>
                  <li class="breadcrumbs__item">
                    {{ collection.title }}
                  </li>
                {% else %}
                  <li class="breadcrumbs__item">
                    <a
                      class="breadcrumbs__link"
                      href="{{ collection.url }}"
                      aria-current="page">{{ collection.title }}
                    </a>
                  </li>
                {% endif %}

              {%- endif -%}
            {% endcomment %}
            {% comment %}
              {%- when 'search' -%}
              <li class="breadcrumbs__item">
                <a
                  class="breadcrumbs__link breadcrumbs__link--search"
                  href="{{ request.path }}"
                  aria-current="page">
                  {%- if search.performed -%}
                    {{- 'templates.search.title' | t -}}:
                  {%- else -%}
                    {{- 'general.search.search' | t -}}:
                  {%- endif -%}
                </a>
              </li>
            {% endcomment %}
          {%- when 'blog' -%}
            {%- if current_tags -%}
              <li class="breadcrumbs__item">
                {% comment %} {{ blog.title | link_to: blog.url }} {% endcomment %}
                <a
                  class="breadcrumbs__link"
                  href="{{ blog.url }}"
                  aria-current="page"
                  >Blog</a
                >
              </li>
              <li class="breadcrumbs__item">
                {% comment %}
                  {%- capture tag_url -%}
                    {{ blog.url }}/tagged/{{ current_tags | join: "+"  }}{%- endcapture -%}
                  <a
                    class="breadcrumbs__link"
                    href="{{ tag_url }}"
                    aria-current="page">{{ current_tags | join: " + " |  remove: 'archive-' |  replace: '-', ' ' | capitalize }}</a>
                {% endcomment %}
                <a
                  class="breadcrumbs__link"
                  href="{{ blog.url }}"
                  aria-current="page"
                  >Blog</a
                >
              </li>
            {%- else -%}
              <li class="breadcrumbs__item breadcrumbs__item-blog">
                <a
                  class="breadcrumbs__link"
                  href="{{ blog.url }}"
                  aria-current="page"
                  >Blog</a
                >
              </li>
            {%- endif -%}
          {%- when 'article' -%}
            <li class="breadcrumbs__item">
              <a
                class="breadcrumbs__link"
                href="{{ blog.url }}"
                aria-current="page"
                >Blog</a
              >
            </li>
            <li class="breadcrumbs__item">
              <span
                class="breadcrumbs__link"
                href="{{ article.url }}"
                aria-current="page"
              >
                {{- article.title -}}
              </span>
            </li>
          {%- else -%}
            <li class="breadcrumbs__item">
              <a
                class="breadcrumbs__link"
                href="{{ request.path }}"
                aria-current="page"
              >
                {{- page_title -}}
              </a>
            </li>
        {%- endcase -%}
      </ol>
    </nav>
  </div>
{%- endunless -%}
<style>
  .breadcrumbs__item:not(:last-child):after {
    margin-right: 9px;
    margin-left: 7px;
  }
  .breadcrumbs {
    padding-top: 8px;
  }
  .breadcrumbs__link {
    margin-left: 1px;
    font-family: 'Nova-300';
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #2f2f2f;
  }
</style>
{% schema %}
{
  "name": "breadcrumbs for blog",
  "tag": "section",
  "class": "breadcrumbs-for-blog",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "breadcrumbs for blog"
    }
  ]
}
{% endschema %}
