{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="wrapper-top-footer">
    <div
      class="newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      {% if settings.animations_reveal_on_scroll %}
        data-cascade
      {% endif %}
    >
      <div class="inner-newsletter">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'image' -%}
              <div class="footer-block__details-content footer-block-image">
                {%- if block.settings.image != blank -%}
                  {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                  <div
                    class="footer-block__image-wrapper"
                    style="max-width: min(100%, {{ block.settings.image_width }}px);"
                  >
                    <img
                      srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                      src="{{ block.settings.image | image_url: width: 760 }}"
                      alt="{{ block.settings.image.alt | escape }}"
                      loading="lazy"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                    >
                  </div>
                {%- else -%}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                {%- endif -%}
              </div>
            {%- when 'newsletter_block' -%}
              {% if block.settings.logo_form != blank %}
                <div class="form_logo">
                  <img
                    alt=""
                    src="{{ block.settings.logo_form | image_url: width: 70 }}"
                  >
                </div>
              {% endif %}

              {% if block.settings.heading != blank %}
                <h3 class="footer-form_heading">{{ block.settings.heading }}</h3>
              {% endif %}
              {% if block.settings.content != blank %}
                <h3 class="footer-form_content">{{ block.settings.content }}</h3>
              {% endif %}
          {%- endcase -%}
        {%- endfor -%}
        {%- form 'customer', id: 'ContactFooter', class: 'custom-newsletter-form' -%}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter-form__inner">
            <div class="field">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="email"
                name="contact[email]"
                class="field__input"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="ContactFooter-error"
                {% elsif form.posted_successfully? %}
                  aria-describedby="ContactFooter-success"
                {% endif %}
                placeholder="{{ 'newsletter.label' | t }}"
                required
              >
              <label class="field__label" for="NewsletterForm--{{ section.id }}">
                {{ 'newsletter.label' | t }}
              </label>
            </div>
            <button
              type="submit"
              class="newsletter-btn"
              name="commit"
              id="Subscribe"
              aria-label="{{ 'newsletter.button_label' | t }}"
            >
              I'M IN!
            </button>
            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="ContactFooter-error">
                {%- render 'icon-error' -%}
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </small>
            {%- endif -%}
          </div>
          {%- if form.posted_successfully? -%}
            <h3
              class="newsletter-form__message newsletter-form__message--success form__message"
              id="ContactFooter-success"
              tabindex="-1"
              autofocus
            >
              {% render 'icon-success' -%}
              {{- 'newsletter.success' | t }}
            </h3>
          {%- endif -%}
        {%- endform -%}
      </div>
    </div>
    <div class="inner-link-menu">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'link_list' -%}
            {%- if block.settings.menu != blank -%}
              <ul class="footer-block__details-content list-unstyled">
                {%- for link in block.settings.menu.links -%}
                  <li>
                    <a
                      href="{{ link.url }}"
                      class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                    >
                      {{ link.title }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
    <div class="inner-social-icons">
      <h3 class="utility-links_haeding">Follow us</h3>
      <div class="social-icons">
        {%- render 'social-icons', class: 'footer__list-social' -%}
      </div>
      <div class="footer__column footer__column--info">
        <div class="footer__payment">
          <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
          <ul class="list list-payment" role="list">
            {%- for type in shop.enabled_payment_types -%}
              <li class="list-payment__item">
                {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-bottom-footer">
    <div class="inner-top">
      <p>All information presented in this website is intended for informational purposes only and not for the purpose of rendering medical advice.</p>
      <p>Statements made on this website have not been evaluated by the Food and Drug Administration.</p>
      <p>The information contained herein is not intended to diagnose, treat, cure or prevent any disease.</p>
    </div>
    <div class="inner-bottom">
      <div class="policie-inner">
        <h3 class='all-reserved'>@ 2024 All rights reserved.</h3>
        <ul class="policies list-unstyled">
          {%- for policy in shop.policies -%}
            {%- if policy != blank -%}
              <li>
                <small class="copyright__content"
                  ><a href="{{ policy.url }}">{{ policy.title }}</a></small
                >
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
      <div class="web-loft">Dallas and Plano Web Design Agency: <a href="https://www.webloftdesigns.com/">Web Loft Designs</a></div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Custom Footer",
  "tag": "section",
  "class": "section custom-footer",
  "settings": [],
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "newsletter_block",
      "name": "Newsletter Block",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo_form",
          "label": "image Form"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Footer"
    }
  ]
}
{% endschema %}
