{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{% comment %}
  {%- liquid
    assign products_to_display = section.settings.collection.all_products_count

    if section.settings.collection.all_products_count > section.settings.products_to_show
      assign products_to_display = section.settings.products_to_show
      assign more_in_collection = true
    endif
  -%}
{% endcomment %}

<div class="slider-product">
  <div class="page-width">
    <div class="swiper mySwiper">
      <ul
        data-id="{{ section.id }}"
        class="swiper-wrapper"
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
      >
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <li
            class="product-cartochka swiper-slide"
          >
            {% render 'card-product',
              card_product: product,
              quick_add: section.settings.quick_add,
              show_product_info: true,
              extend_height: true,
              media_aspect_ratio: 'adapt',
              show_vendor: true,
              show_rating: true,
              section_id: section.id,
              lazy_load: lazy_load,
              show_labels: false
            %}
          </li>
        {%- endfor -%}
      </ul>
    </div>
    <div class="wrapper_btn-slider">
      <div class="swiper-button-prev">
        <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 7.9425L2.2915 4.5L6 1.0575L4.8583 -4.99053e-08L1.96701e-07 4.5L4.8583 9L6 7.9425Z" fill="#2F2F2F"/>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M-4.62248e-08 7.9425L3.7085 4.5L-3.47178e-07 1.0575L1.1417 -4.99053e-08L6 4.5L1.1417 9L-4.62248e-08 7.9425Z" fill="#2F2F2F"/>
        </svg>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<script>
  function sliderInit() {
    var swiper = new Swiper('.mySwiper', {
      freeMode: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        980: {
          slidesPerView: 5,
          spaceBetween: 45,
        },
        600: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        320: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
      },
    });
  }
  document.addEventListener('DOMContentLoaded', function () {
    sliderInit();
  });
</script>

{% schema %}
{
  "name": "Custom Collection",
  "tag": "section",
  "class": "custom-collection",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 8,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Collection"
    }
  ]
}
{% endschema %}
