{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign video_idd = section.settings.video_url.id

  if section.settings.video != null
    assign ratio_diff = section.settings.video.aspect_ratio | minus: section.settings.video_url.aspect_ratio | abs
    if ratio_diff < 0.01 and ratio_diff > 0
      assign fix_ratio = true
    endif
  endif
-%}

<article class="faq-tabs">
  <div
    class="tab-trigger"
    data-icon="{{ section.settings.icon | image_url: width: 100 }}"
    data="{{ section.settings.trigger }}"
  ></div>
  <div class="tab-trigger__wrapper">
    <div class="tab-trigger__wrapper_title">
      <h3 class="h3-title">{{ section.settings.trigger }}</h3>
    </div>
    <div class="tab-trigger__blocks">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h3 class="tab-trigger__title">{{ block.settings.heading }}</h3>
          {%- when 'text' -%}
            <div class="tab-trigger__text">
              {{ block.settings.text }}
            </div>
          {%- when 'button' -%}
            {%- if block.settings.button_label != blank -%}
              <a
                {% if block.settings.button_link == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ block.settings.button_link }}"
                {% endif %}
                class="tab-trigger__button"
              >
                {{- block.settings.button_label | escape -}}
              </a>
            {%- endif -%}

          {%- when 'link' -%}
            {%- if block.settings.link_label != blank -%}
              <div class="link-inner">
                <a
                  {% if block.settings.link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.link }}"
                  {% endif %}
                  class="link"
                >
                  {{- block.settings.link_label | escape -}}
                  <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.34834 1.72692L10.773 1.72692M10.773 1.72692L10.773 9.15154M10.773 1.72692L1.22702 11.2729"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            {%- endif -%}

          {%- when 'media' -%}
            <div class="media-block">
              {% if block.settings.video_url != blank %}
                <div class="tab-trigger__video" data-video-url="{{ block.settings.video_url.id }}">
                  <div class="popup-video" id="popup">
                    <span class="close" onclick="closePopup()">
                      <svg
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="#fff"/> </g>
                      </svg>
                    </span>
                    <div id="videoContainer" class="video-container"></div>
                  </div>
                  <div class="tab-trigger__video_inner">
                    {% if block.settings.image != blank %}
                      {{
                        block.settings.image
                        | image_url: width: 880
                        | image_tag: loading: 'lazy', class: 'tab-trigger__video_img', alt: alt
                      }}
                    {% endif %}
                    {% if block.settings.video_icon != blank %}
                      <img
                        src="{{ block.settings.video_icon | img_url: 'original' }}"
                        alt="image"
                        class="tab-trigger__video_icon"
                        onclick="showPopup(this.closest('[data-video-url]').dataset.videoUrl)"
                      >
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if block.settings.image1 != blank %}
                <div>
                  {{
                    block.settings.image1
                    | image_url: width: 880
                    | image_tag: loading: 'lazy', class: 'tab-trigger__inner_img1', alt: alt
                  }}
                </div>
              {% endif %}
              {% if block.settings.image2 != blank %}
                <div>
                  {{
                    block.settings.image2
                    | image_url: width: 880
                    | image_tag: loading: 'lazy', class: 'tab-trigger__inner_img2', alt: alt
                  }}
                </div>
              {% endif %}
              {% if block.settings.content != blank %}
                <div class="tab-trigger__content">{{ block.settings.content }}</div>
              {% endif %}
            </div>
            {%- when 'border' -%}
              <div class='faq-border'>.</div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</article>


{% schema %}
{
  "name": "Section For FAQ Tabs",
  "tag": "section",
  "class": "section section__faq-tabs",
  "settings": [
    {
      "type": "text",
      "id": "trigger",
      "label": "Tab Name"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon for tab"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Description",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Description"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "button link"
        }
      ]
    },
    {
      "type": "border",
      "name": "Border",
      "settings": [
      ]
    },
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "id": "link_label",
          "default": "link label",
          "label": "link label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "link url"
        }
      ]
    },
    {
      "type": "media",
      "name": "Media",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image video"
        },
        {
          "type": "image_picker",
          "id": "video_icon",
          "label": "Video Icon"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "image"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "image"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Section For FAQ Tabs"
    }
  ]
}
{% endschema %}
