
{% assign content = section.settings.trigger %}

<article class="section-tab">
  <div class="tab-trigger" data-icon="{{ section.settings.icon | image_url: width: 100 }}" data="{{ section.settings.trigger }}"></div>
  <div class="inner-tab-content">
    <div class="left-box">
      <h3 class='left-box__title'>{{ section.settings.trigger }}</h3>
      {% comment %} Description {% endcomment %}
      {% if content contains 'Description' %}
        {{ product.metafields.custom.different | metafield_tag }}
      {% endif %}
      {% comment %} Efficient {% endcomment %}
      {% if content contains 'Efficient' %}
        {{ product.metafields.custom.efficient | metafield_tag }}
      {% endif %}
      {% comment %} Simple to use {% endcomment %}
      {% if content contains 'Simple to use' %}
        {{ product.metafields.custom.use | metafield_tag }}
      {% endif %}
      {% comment %} Hero ingredient {% endcomment %}
      {% if content contains 'Hero ingredient' %}
        {{ product.metafields.custom.ingredient | metafield_tag }}
      {% endif %}
      {% comment %}Commitment {% endcomment %}
      {% if content contains 'Commitment' %}
        {{ product.metafields.custom.commitment | metafield_tag }}
      {% endif %}
      {% comment %} Product videos {% endcomment %}
      {% if content contains 'Product videos' %}
        {%- for block in section.blocks -%}
          {% render block %}
        {%- endfor -%}
      {% endif %}
    </div>
    <div class="right-box">
      {% comment %} Description {% endcomment %}
      {% if content contains 'Description' %}
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
        {%- if featured_media -%}
          {{
            featured_media.preview_image
            | image_url: width: 416
            | image_tag:
              loading: 'lazy',
              sizes: sizes,
              alt: featured_media.alt
            | escape
          }}
        {%- endif -%}
      {% endif %}
      {% comment %} Efficient {% endcomment %}
      {% if content contains 'Efficient' %}
        {{
          product.metafields.custom.efficient_image
          | image_url: width: 400
          | image_tag: loading: 'lazy', sizes: sizes, widths: '54, 74, 104, 162, 208, 324, 400', alt: featured_media.alt
          | escape
        }}
      {% endif %}
      {% comment %} Simple to use {% endcomment %}
      {% if content contains 'Simple to use' %}
        {{
          product.metafields.custom.simple_to_use_image
          | image_url: width: 400
          | image_tag: loading: 'lazy', sizes: sizes, widths: '54, 74, 104, 162, 208, 324, 400', alt: featured_media.alt
          | escape
        }}
      {% endif %}
    </div>
  </div>
</article>
{% schema %}
{
  "name": "Section For Tabs",
  "tag": "section",
  "class": "section tabs-for-product",
  "settings": [
    {
      "type": "text",
      "id": "trigger",
      "label": "Tab Name"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon for tab"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Section For Tabs"
    }
  ]
}
{% endschema %}
